@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registratiebevestiging";
}

<h1 class="text-center">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            Deze app heeft momenteel geen echte e-mailafzender geregistreerd, zie <a href="https://aka.ms/aspaccountconf">deze documenten</a> Voor instructies over het configureren van een echte e-mailverzender.
            Normaal gesproken zou dit per e-mail worden verzonden: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik hier om je account te bevestigen.</a>
</p>
    }
    else
    {
<p>
            Controleer uw e-mail om uw account te bevestigen.
</p>
    }
}

